.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
    }


    h1 {
        color: #FEF4EC;
        font-size: 40px;
        margin: 0;
        font-family: 'Helvetica-Neue';
        font-weight: 400;



        img {
            width: 32px;
        }
    }
}