/* color scheme */
/* CSS HEX */
:root {
--bone: #eae0ccff;
--silver-pink: #c9ada1ff;
--artichoke: #a0a083ff;
--xanadu: #798478ff;
--deep-space-sparkle: #4d6a6dff;

--font-size: 18px;
--font-family: 

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header styles */


/* About styles */



/* coding portfolio styles */

/* resume styles */

/* footer styles */
















/* Responsive Styles */
/* 1280 */
@media screen and (max-width: 1280px) {
  nav ul li {
      font-size: 24px;
  }
}

/* 920 */
@media screen and (max-width: 920px) {
  .portfolio-text h4 {
    font-size: 2em;
  }
  .portfolio-text p {
    font-size: .9em;
  }
  .portfolio-text p span {
    padding: 3px 5px;
  }
}

/* 800 */
@media screen and (max-width: 800px) {
  body {
      font-size: 18px;
  }
  .title {
      margin: 30px auto 100px;
  }
  .main-content {
      max-width: calc(100% - 20px);
  }
  .self-image {
    margin: -50px 0 0;
    width: 150px;
  }
  .portfolio-text {
    padding: 20px;
  }
  .portfolio-text h4 {
    font-size: 1.7em;
  }
  .portfolio-text h4 i.gh-link {
    margin: 0 0 0 5px;
  }
  .contact-links {
      text-align: center;
      width: calc(50% - 10px);
      padding: 5px;
  }
  .contact-links:first-of-type { width: calc(100% - 10px); }
  .contact-links ul li:first-of-type {
      padding-top: 15px;
  }
  footer ul li {
      display: block;
      padding: 5px 0;
  }
  footer i {
    margin-left: 0;
  }
  .foot-info ul li:not(:last-child)::after {
      display: none;
  }
}

/* 740 */
@media screen and (max-width: 740px) {
  .portfolio-box {
    width: calc(100% - 10px);
  }
  .quick-skills li {
    flex: 1 33%;
  }
}

/* 740 to 500 */
@media screen and (max-width: 740px) and (min-width: 500px) {
  .portfolio-text h4 {
    font-size: 2.2em;
  }
  .portfolio-text {
    padding: 30px;
  }
  .portfolio-text p {
    font-size: 1em;
  }
  .portfolio-box {
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 740px) {
  .small-light {
    display: none;
  }
  @keyframes small-lights-move {
    100% { display: none; }
  }
}

/* 600 */
@media screen and (max-width: 600px) {
  nav {
      margin: 30px auto;
  }
  .title {
      margin: 20px auto 80px;
  }
  .title h1 {
    font-size: 3.5em;
  }
  .title h2 {
    font-size: 1.3em;
  }
  .quick-info {
    display: grid;
  }
  .self-image {
    margin: 15px 10px 0 0;
    grid-row: 1 / 3;
  }
  .info-box {
    margin: 15px 0;
  }
  #info-1 { grid-column: 2; }
  #info-2 { grid-column: 3; }
  #info-3 { grid-row: 2; grid-column: 2 / 4; margin-top: 0; }
  .resume .sidebar {
    padding: 10px 0 0;
    margin: 0 0 10px;
    width: 100%;
    z-index: 2;
    background-color: var(--lightest-color);
  }
  .resume .sidebar li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  header .light-base { display: none; }
}

/* 500 */
@media screen and (max-width: 500px) {
  .portfolio-text {
    padding: 15px;
  }
  .portfolio-text h4 {
    font-size: 1.6em;
  }
  .portfolio-text p {
    font-size: .8em;
  }
  .portfolio-text p span {
    padding: 3px 5px;
  }
}

/* 400 */
@media screen and (max-width: 400px) {
  section.about-me h3 {
    margin-top: 20px;
  }
  .quick-info {
    display: block;
    order: 2;
  }
  .self-image {
    margin: 10px 70px 0;
    width: calc(100% - 140px);
  }
  .info-box {
    margin: 10px 0;
    display: inline-block;
    padding: 0 10px 10px;
  }
  .info-box:not(:last-child) {
    border-bottom: 1px solid var(--second-color);
  }
  .contact-links {
      width: calc(100% - 10px);
  }
}

/* 360 */
@media screen and (max-width: 360px) {
  .quick-skills li {
    flex: 1 100%;
  }
  .portfolio-text h4 {
    font-size: 1.2em;
  }
  .portfolio-text p {
    font-size: .7em;
  }